html, body {
    background-color: var(--color-background);
    font-family: source-sans-3, Arial, Sans-Serif;
    font-weight: var(--font-weight-regular);
    font-size: var(--size-m);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: var(--size-xl);
}

h2 {
    font-size: var(--size-l);
}

h3 {
    font-size: var(--size-m);
}

a {
    color: inherit;
    text-decoration: inherit;
}