:root {
    /* TH Koeln Primaer Farbklima */
    --color-th-koeln-rot: hsl(5deg 86% 42%);
    --color-th-koeln-orange: hsl(23deg 100% 46%);
    --color-th-koeln-violett: hsl(315deg 58% 45%);
    --color-th-koeln-schwarz: hsl(0deg 0% 0%);
    --color-th-koeln-weiss: hsl(255deg 100% 100%);

    /* Other Colors */
    --color-background: hsl(0deg 0% 91%);
    --color-background-light: hsl(0deg 0% 96%);
    --color-orange-light: hsl(23deg 100% 60%);
}