.project-presentation-dialog {
    position: relative;

    background-color: var(--color-th-koeln-orange);
    color: var(--color-th-koeln-weiss);
    padding: var(--size-l);
    

    h2 {
        font-size: var(--size-xl);
    }

    p {
        font-size: var(--size-m);
    }


    button {
        background-color: transparent;

        color: var(--color-th-koeln-weiss);
        font-size: var(--size-l);
        font-weight: var(--font-weight-bold);

        border-style: none;
        cursor: pointer;

        float: right;
    }

    button:hover {
        background-color: var(--color-orange-light);
    }
}


.favorites-section {
    padding: var(--size-xl);

    h2 {
        margin-bottom: var(--size-l);
        font-size: var(--size-xl);
    }
}

.favorites-list {
    background-color: #000000;
}

.favorites-list-item {
    background-color: var(--color-th-koeln-weiss);
    border: 3px solid red;
}












/* .page-main {
    background-color: var(--color-background);
}

.page-header {
    background-color: var(--color-th-koeln-weiss);
    display: none;
}

body {
    background-color: #555555;
}

.project-presentation-dialog {
    display: none;
}


.page-footer {
    display: none;
}

.favorites-list-item {


    address {
        font-size: var(--size-s);
    }
}*/