.page-header {
    background-color: var(--color-th-koeln-weiss);
}

.page-main-navigation-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;

    padding: 0;

    font-size: var(--size-l);
    font-weight: var(--font-weight-light);
}

.page-main-navigation-list > li {
    flex-grow: 1;
    
    text-align: center;
    padding: var(--size-xs) 0;
}

.page-main-navigation-list > .selected {
    background-color: var(--color-background);

    font-weight: var(--font-weight-medium);
}


.project-presentation-dialog {
    position: relative;

    background-color: var(--color-th-koeln-orange);
    color: var(--color-th-koeln-weiss);

    padding: var(--size-l);
    margin: var(--size-s) var(--size-xl);

    border-style: none;
    

    h2 {
        font-size: var(--size-xl);
    }

    p {
        font-size: var(--size-m);
    }


    button {
        background-color: transparent;

        color: var(--color-th-koeln-weiss);
        font-size: var(--size-l);
        font-weight: var(--font-weight-bold);

        border-style: none;
        cursor: pointer;

        float: right;
    }

    button:hover {
        background-color: var(--color-orange-light);
    }
}


.link-tile-section {
    padding: var(--size-s) var(--size-xl);

    h2 {
        margin-bottom: var(--size-xl);
        
        font-size: var(--size-l);
        font-weight: var(--font-weight-bold);
    }

    h3 {
        font-size: var(--size-m);
        font-weight: var(--font-weight-regular);
    }
}

.link-tile-list-item {
    background-color: var(--color-th-koeln-weiss);

    margin-bottom: var(--size-m);
}