.page-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 2;
    padding: 0;
    background-color: var(--color-background);

    &:focus, &:focus-visible, &:focus-within {
        outline: var(--color-selected-element-outline) solid var(--size-selected-element-outline-width);
    }

    input {
        flex-grow: 2;
        padding: var(--size-m);
        border-style: none;
        font-size: var(--size-m);
        background-color: var(--color-background);
        font-weight: var(--font-weight-semi-bold);
        
        &::placeholder {
            color: var(--color-th-koeln-schwarz);
            opacity: 1;
        }

        &:focus, &:focus-visible, &:focus-within {
            border-style: none;
            outline: none;
        }
    }

    button {
        padding: var(--size-s);
        border-style: none;
        margin: 0;
        background-color: var(--color-th-koeln-orange);
        color: var(--color-th-koeln-weiss);

        &:hover {
            background-color: var(--color-orange-light);
            cursor: pointer;
        }
    }
}
    
main .page-search {
    display: none;
    background-color: var(--color-th-koeln-weiss);
    margin: var(--size-s) var(--size-xl);

    input {
        background-color: var(--color-th-koeln-weiss);
    }

    button {
        color: var(--color-grey);
        background-color: var(--color-th-koeln-weiss);

        &:hover {
            background-color: var(--color-hover-element);
        }
    }
}