:root {
    --icons: material-icons;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --line-height-tight: 100%;
    --line-height-normal: 130%;
    --line-height-loose: 150%;
    --line-height-wide: 200%;
    --line-height-extra-wide: 300%;

    /* Sizes */
    --base-font-size: 1rem;
    --size-xxxs: calc(var(--base-font-size) * 0.31);
    --size-xxs: calc(var(--base-font-size) * 0.5);
    --size-xs: calc(var(--base-font-size) * 0.63);
    --size-s: calc(var(--base-font-size) * 0.75);
    --size-m: var(--base-font-size);
    --size-l: calc(var(--base-font-size) * 1.25);
    --size-xl: calc(var(--base-font-size) * 1.5);
    --size-xxl: calc(var(--base-font-size) * 2);
    --size-xxxl: calc(var(--base-font-size) * 2.5);
    --size-quat: calc(var(--size-m) / 4);
    --size-half: calc(var(--size-m) / 2);
    --size-third-screen-width: 33vw;
    --size-half-screen-width: 50vw;
    --size-two-third-screen-width: 66vw;
    
    /* Layer */
    --layer-content: 0;
    --layer-navigation: 10;
    --layer-sidebar: 20;

    /* Other */
    --size-selected-element-outline-width: 2px;
    --size-max-search-bar-size: 40rem;

    /* Break Point */
    --breakpoint-mobile-tablet: 30rem;
    --breakpoint-tablet-desktop: 45rem;
}