

.page-header {
    background-color: #aa0000;
}


.page-main {
    background-color: #00aa00;
    display: none;
}

.project-presentation-dialog {
    background-color: orange;
    display: none;
}


.page-footer {
    background-color: #0000aa;
    display: none;
}